.content {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.content__list {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.content__card {
  width: 282px;
  height: 361px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.content__card_image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.content__card_btn-trash {
  background-color: transparent;
  background-image: url(/images/trash.svg);
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}

.content__card_btn-trash:hover {
  opacity: 0.6;
}

.content__card_btn-like {
  background-color: transparent;
  background-image: url(/images/heart.svg);
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 26px;
}

.content__card_btn-like:hover {
  opacity: 0.5;
}

.content__card_btn-like:active {
  background-image: url(/images/heart-filled.svg);
  opacity: 1;
}

.content__card_title {
  font-family: "Inter Black", sans-serif;
  font-size: 24px;
  margin: 0;
  position: absolute;
  left: 20px;
  bottom: 26px;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
