.content {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.content__list {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.content__card {
  width: 282px;
  height: 361px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.content__card_image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.content__card_btn-trash {
  background-color: transparent;
  background-image: url(/images/trash.svg);
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}

.content__card_btn-trash:hover {
  opacity: 0.6;
}

.content__card_btn-like {
  background-color: transparent;
  background-image: url(/images/heart.svg);
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 26px;
}

.content__card_btn-like:hover {
  opacity: 0.5;
}

.content__card_btn-like:active {
  background-image: url(/images/heart-filled.svg);
  opacity: 1;
}

.content__card_title {
  font-family: "Inter Black", sans-serif;
  font-size: 24px;
  margin: 0;
  position: absolute;
  left: 20px;
  bottom: 26px;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup-image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-image__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 180px);
}

.popup-image__image {
  max-width: 100%;
  object-fit: contain;
}

.popup-image__close-btn {
  position: absolute;
  top: -50px;
  right: -50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup-image__close-icon {
  width: 40px;
}

@media (max-width: 796px) {
  .popup-image__image {
    max-width: 100%;
    object-fit: contain;
  }
  .popup-image__close-btn {
    top: -40px;
    right: -40px;
  }
  .popup-image__close-icon {
    width: 30px;
  }
}
