.popup-edit,
.popup-add {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup_opened {
  display: flex;
}

.popup-edit__container,
.popup-add__container {
  position: relative;
  max-width: 430px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  z-index: 999;
}

.popup-edit__container_close-btn,
.popup-add__container_close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
}

.popup-edit__container_close-btn:hover,
.popup-add__container_close-btn:hover {
  opacity: 0.6;
}

.popup-edit__overlay,
.popup-add__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 998;
}

.popup-edit__container_title,
.popup-add__container_title {
  font-family: "Inter Black", sans-serif;
  font-size: 24px;
  margin: 0 0 54px;
  padding: 0;
  color: #000;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  font-family: "Inter Regular", sans-serif;
  font-size: 14px;
  color: #000;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px;
  margin-bottom: 30px;
}

.form__input:last-of-type {
  margin-bottom: 0;
}

.form__button {
  height: 50px;
  border-radius: 2px;
  border: none;
  background-color: #000;
  color: #ffffff;
  margin: 48px 0 0;
  padding: 0;
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.form__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.form__input_type_error {
  border-bottom-color: #ff0000;
}

.form__input-error {
  font-family: "Inter Regular", sans-serif;
  font-size: 12px;
  color: #ff0000;
  min-height: 30px;
  display: block;
  position: absolute;
  visibility: hidden;
}

.form__input-error_active {
  visibility: visible;
}

.form__button_inactive {
  background-color: #ffffff;
  color: #000;
  opacity: 0.2;
  cursor: not-allowed;
  border: 1px solid #000;
}

@media screen and (max-width: 680px) {
  .popup-edit__container,
  .popup-add__container {
    max-width: 282px;
    padding: 25px 22px;
    margin: 0 19px;
  }

  .popup-edit__container_close-btn,
  .popup-add__container_close-btn {
    right: 0;
    top: -42px;
  }

  .popup-edit__container_close-icon,
  .popup-add__container_close-icon {
    width: 26px;
  }

  .popup-edit__container_title,
  .popup-add__container_title {
    margin: 0 0 75px;
    font-size: 18px;
  }

  .form__button {
    height: 46px;
    margin-top: 45px;
  }
}
