.popup-edit {
  display: none;
}

.popup-edit.popup-edit_opened {
  display: block;
}

.popup-edit__container {
  position: fixed;
  max-width: 430px;
  max-height: 330px;
  border-radius: 10px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  padding: 20px 36px 36px;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.popup-edit__container_close-icon {
  position: fixed;
  right: -35px;
  top: -35px;
}

.popup-edit__container_close-btn {
  position: fixed;
  right: -35px;
  top: -35px;
  cursor: pointer;
  border: none;
  padding: 0;
}

.popup-edit__container_close-btn:hover {
  opacity: 0.6;
}

.popup-edit__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 998;
}

.popup-edit__container_title {
  font-family: "Inter Black", sans-serif;
  font-size: 24px;
  margin: 0 0 54px;
  padding: 0;
}

.form-edit {
  display: flex;
  flex-direction: column;
}

.form-edit__fieldset {
  margin: 0 auto;
  padding: 0;
  border: none;
}

.form-edit__input {
  font-family: "Inter Regular", sans-serif;
  font-size: 14px;
  color: #000;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: 0;
}

.form-edit__button {
  height: 50px;
  border-radius: 2px;
  border: none;
  background-color: #000;
  color: #ffffff;
  margin: 18px 0 0;
  padding: 0;
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.form-edit__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 680px) {
  .popup-edit__container {
    max-width: 238px;
    max-height: 322px;
    padding: 0;
    padding: 25px 25px 22px;
  }

  .popup-edit__container_close-icon {
    width: 26px;
    right: 0;
    top: -45px;
  }

  .popup-edit__container_title {
    margin: 0 0 76px;
    font-size: 18px;
  }

  .form-edit__fieldset {
    margin: 0 auto;
  }

  .form-edit__input {
    width: 238px;
    margin: 0 auto 30px;
  }

  .form-edit__button {
    width: 238px;
    height: 46px;
    margin: 16px 0 0;
  }
}

.popup-add {
  display: none;
}

.popup-add.popup-add_opened {
  display: block;
}

.popup-add__container {
  position: fixed;
  max-width: 430px;
  max-height: 330px;
  border-radius: 10px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  padding: 20px 36px 36px;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.popup-add__container_close-icon {
  position: fixed;
  right: -35px;
  top: -35px;
}

.popup-add__container_close-btn {
  position: fixed;
  right: -35px;
  top: -35px;
  cursor: pointer;
  border: none;
  padding: 0;
}

.popup-add__container_close-btn:hover {
  opacity: 0.6;
}

.popup-add__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 998;
}

.popup-add__container_title {
  font-family: "Inter Black", sans-serif;
  font-size: 24px;
  margin: 0 0 54px;
  padding: 0;
}

.form-add {
  display: flex;
  flex-direction: column;
}

.form-add__fieldset {
  margin: 0 auto;
  padding: 0;
  border: none;
}

.form-add__input {
  font-family: "Inter Regular", sans-serif;
  font-size: 14px;
  color: #000;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: 0;
}

.form-add__button {
  height: 50px;
  border-radius: 2px;
  border: none;
  background-color: #000;
  color: #ffffff;
  margin: 18px 0 0;
  padding: 0;
  font-family: "Inter Regular", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.form-add__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 680px) {
  .popup-add__container {
    max-width: 238px;
    max-height: 322px;
    padding: 0;
    padding: 25px 25px 22px;
  }

  .popup-add__container_close-icon {
    width: 26px;
    right: 0;
    top: -45px;
  }

  .popup-add__container_title {
    margin: 0 0 76px;
    font-size: 18px;
  }

  .form-add__fieldset {
    margin: 0 auto;
  }

  .form-add__input {
    width: 238px;
    margin: 0 auto 30px;
  }

  .form-add__button {
    width: 238px;
    height: 46px;
    margin: 16px 0 0;
  }
}
