.profile {
  margin: 40px auto 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__avatar {
  max-width: 120px;
}

.profile__info {
  padding-left: 30px;
  color: #ffffff;
}

.profile__info_name {
  font-size: 42px;
  font-family: "Inter Medium", sans-serif;
  margin: 0;
  padding-bottom: 10px;
}

.profile__info_occupation {
  font-size: 18px;
  font-family: "Inter Regular", sans-serif;
  margin: 0;
}

.profile__edit-btn {
  max-width: 24px;
  margin: 38px 0 59px 18px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.profile__add-btn {
  max-width: 150px;
  margin-left: 165px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
